<body>
    <li class="nav-item">
        <%= link_to "商品一覧", 'admin/items', class: 'nav-link text-light' %>
    </li>

    <h1>管理者TOP</h1>
    <p>Find me in app/views/admin/homes/top.html.erb</p>
</body>